#test-sidebar {
    background: violet;
    position:absolute;
    width:30%;
    hight:100%;
    opacity: 0.3;
    z-index:100;
    right:0;
}

#test {
    position:absolute;
    width:70%;
    hight:100%;
    z-index:100;
    background:#000;
    left:0;
}
